<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title 입니다..</title>
</head>
<body>
와!!!!드디어 성공했다...index 페이지.....뜬다.......사랑한다.... 흠흠 동시 테스트

<div class="wrap">
    <div class="title">로그인</div>
    <a class="kakao" href="/oauth2/login/kakao">
<!--    <a class="kakao" href="https://kauth.kakao.com/oauth/authorize?client_id=c9aa41683e225545c6c18c1c9cb1a791&redirect_uri=http://localhost:8080/login/kakao&response_type=code">-->
        <!-- REST_API키 및 REDIRECT_URI는 본인걸로 수정하세요 -->

        <div class="kakao_i"></div>
        <div class="kakao_txt">카카오톡으로 간편로그인 </div>
    </a>
</div>
</body>
</html>
